name: Test the code
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: CERT-Polska/lint-python-action@v2
        with:
          source: karton/
          python-version: '3.10'
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        minor: [ 10, 11, 12 ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.${{ matrix.minor }}
      - name: Install unpackers
        run: sudo apt install -y rar unace-nonfree cabextract lzip zlib1g-dev zpaq gnupg
      - run: pip install -r requirements.txt -r requirements-debloat.txt pytest==8.4.2 pytest-subtests==0.14.2
      - run: pytest --log-cli-level=DEBUG
